@import '../../bower_components/bootstrap-stylus/bootstrap/index.styl'

.footer
  background-color whitesmoke
  padding 10px 10px
  position fixed
  bottom 0
  width 100%

.donetrue
  text-decoration line-through
  color grey
