doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Todo
    link(rel='stylesheet', href='css/app.css')
    script(src='js/vendor.js')
    script(src='js/app.js')
    if isDev
      script(src='http://localhost:3000/livereload.js?snipver=1')
      script.
        require('nw.gui').Window.get().showDevTools();
  body
    .nav.navbar.navbar-default
    #routeHolder.container
    footer.footer: .container: p: small
      a(href='https://github.com/kaiyote/node-webkit-stylish-seed') node-webkit-stylish-seed | source
