!!! 5
html(lang='en', ng-app='app')
  head
    meta(charset='utf-8')
    title(ng-bind-template='{{pageTitle}}')
    link(rel='stylesheet', href='css/app.css')
    script.
      window.brunch = window.brunch || {};
      window.brunch.server = 'localhost';
      window.brunch['auto-reload'] = {
        enabled: true
      };
    script(src='js/vendor.js')
    script(src='js/app.templates.js')
    script(src='js/app.js')
  body(ng-controller='AppCtrl')
    .navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Angular Brunch Seed
        .collapse.navbar-collapse#bs-example-navbar-collapse-1(ng-include="'app/partials/nav.jade'")
    .container
      div(ng-view)
      div Angular Brunch seed app: v<span app-version></span>
    footer.footer: .container: p: small: a(href='https://github.com/scotch/angular-brunch-seed') angular-brunch-seed | source
